body {
  width: 100vw;
  height: 100vh;
}

.wrap-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.background {
  width: 45vw;
  height: 100vh;
  background-image: url("../misc/back2.jpg");
  background-size: cover;
  margin: 1rem;
}
.cadastro {
  width: 50vw;
  height: 100vh;
  display:block;
  margin: 1rem;
}

h1 {
  width: 67%;
  font-family: 'Montserrat', sans-serif; 
  font-size: 2.75rem;
  font-weight: 500;
  margin: 3rem 0rem 0 7.75rem;
  padding: 1rem;
  border: 2px solid #03fbeb;
  text-align: center;
  border-radius: 15px;
}

.links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 8rem;
  
}
.links a {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 250px;
  padding: .75rem;
  margin: 0 .5rem;
  border: 2px solid #777;
  text-align: center;
  border-radius: 12px;
  text-decoration:none;
  background-color: #03fbeb;
}
.links a:hover {
  background-color: #ff86e8;
}
